@import '../../assets/scss/bootstrap.scss';

.sign-up-wrapper {
	flex: 1 0;
	height: 100%;
	> .sign-up-bg-color {
		position: fixed;
		z-index: 3;
		width: 100%;
		height: 100%;
		background: linear-gradient(rgba(86, 194, 204, 0.8), rgba(128, 99, 160, 0.8));
	}
	.sign-up-img-bg {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		background-image: url('https://picsum.photos/1920/1080/?image=862');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	> .sign-up-body {
		position: relative;
		z-index: 4;
		padding: 30px 25px 0 25px;
		flex: 1;

		> .pb-logo-wrapper {
			width: 200px;
			> .pb-logo {
				height: 50px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url('../../assets/pb-img/pb-logo.png');
			}
		}
		> .pb-register-wrapper {
			flex: 1;
			justify-content: center;
			align-items: center;

			.pb-register {
				min-height: 500px;
				width: 500px;
				background: rgba(255, 255, 255, 0.8);
				border-radius: 5px;
				box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
				padding: 30px;

				.login-option,
				.signup-option {
					display: flex;
					flex-direction: column;
					height: 100%;
					justify-content: space-between;

					.button-actions {
						.link-action {
							color: #56c2cc;
							cursor: pointer;
							text-decoration: underline;
							&:hover {
								color: #8063a0 !important;
							}
							&:visited {
								color: #56c2cc !important;
							}
						}
						.button-action-login {
							color: white !important;
							background-color: #56c2cc;
						}
						.button-action-register {
							color: white !important;
							background-color: #8063a0;
						}
					}
				}

				.login-links {
					color: #8063a0;
					cursor: pointer;
					&:hover {
						color: #56c2cc !important;
					}
					&:visited {
						color: #8063a0 !important;
					}
				}
			}
			@media screen and (max-width: 1280px) {
				.pb-register {
					min-height: 400px;
					width: 400px;
					padding: 20px;
				}
			}
		}
		> .pb-signup-footer {
			height: 60px;
			justify-content: center;
			align-items: center;
			color: white;
			flex-direction: column;
			span {
				text-align: center;
				button {
					color: white !important;
					background: none;
					border: 0;
					cursor: pointer;
					&:hover {
						font-weight: 800;
					}
				}
			}
		}

		@media screen and (max-width: 1280px) {
			.pb-register-wrapper {
				align-items: center;
			}
		}
	}
	@media screen and (max-width: 1280px) {
		.sign-up-body {
			padding: 18px 20px 0 20px;
		}
	}
}

.file-upload-button {
	color: white !important;
	background-color: #56c2cc !important;
}
.button_icon_file_upload {
	margin-right: 5px;
}
