//PB RAINBOW
$red: #d62139;
$orange1: #f37f41;
$orange2: #f4843a;
$yellow: #fad10e;
$green: #67bd7f;
$teal1: #43c2ce;
$teal2: #56c2cc;
$indigo: #766fac;
$purple: #8063a0;
$magenta: #cf2549;

//tenant
.tenant-color-gradient {
  background: linear-gradient($orange1, $red);
}
//owner or property-manager
.pm-color-gradient {
  background: linear-gradient($yellow, $orange2);
}

//building manager
.bm-color-gradient {
  background: linear-gradient($purple, $magenta);
}

//spare color
.spare-color-gradient {
  background: linear-gradient($teal2, $indigo);
}